.product {
   /* .product__cards */
   &__cards {
      position: relative;
   }
   /* .product__cards-wrapper */
   &__cards-wrapper {
      display: flex;
   }
}

.cards {
   /* .cards__body */
   &__body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: 25px;
   }
   /* .cards__body-btn */
   &__body-btn {
      width: 100%;
      text-align: center;
      margin: 15px auto 40px auto;
   }
}

.main {
   /* .main__bg */
   &__bg {
      position: absolute;
      bottom: 0;
      right: 12%;
   }
}

.card {
   width: 200px;
   min-height: 318px;
   background-color: #232222;
   box-shadow: 5px 5px 10px 0px #00000040;
   margin-bottom: 30px;
   cursor: pointer;
   z-index: 5;
   /* .card__img */
   &__img {
      margin-bottom: 15px;
      overflow: hidden;
      img {
         height: 200px;
      }
   }
   /* .card__title */
   &__title {
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      line-height: 26px;
      margin: 0 15px;
      text-transform: uppercase;
   }
   &_selected {
      box-shadow: 0px 5px 20px #9f0013;
   }
}
